  {
    "presets": [
      ["env", { "targets": { "electron": 1.6 }, "modules": false }],
      "react"
    ],
    "plugins": [
      "lodash",
      "transform-class-properties",
      "transform-flow-strip-types",
      "transform-object-rest-spread"
    ]
  }
