<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="text/javascript" src="../node_modules/mathjax-electron/resources/MathJax/MathJax.js?delayStartupUntil=configured"></script>
  </head>
  <body>
    <div id="app" />
  </body>
</html>
